<form [formGroup]="expenseform" class="w-full flex" (ngSubmit)="addExpense()">
<div class="flex flex-1 flex-column gap-2">
    <p-card header="Expense Management" styleClass="text-center flex justify-content-center bg-purple-300">

        <div class="flex flex-column md:flex-row gap-2">

            <div class="field align-items-center">
                <input type="number" class="w-full" pInputText name="email" formControlName="amount" placeholder="Enter Amount"/>
            </div> 
                   
            <div class="field align-items-center">
                <input type="text" class="w-full" pInputText name="email" formControlName="amount" placeholder="Enter Description"/>
            </div>

            <div class="field align-items-center">
                <p-calendar formControlName="date" placeholder="DD-MM-YYYY" dateFormat="dd-mm-yy" [maxDate]="maxDate" [showIcon]="true"></p-calendar>
            </div>

            <div class="field align-items-center">
                <p-dropdown styleClass="w-full" formControlName="selectedCategory" [options]="categories" optionLabel="name" placeholder="Select a City"></p-dropdown>
            </div>
            <div>
                <p-button label="Add Expense" type=""  styleClass="w-full"></p-button>        
            </div>
        </div>        
    </p-card>

    <p-card subheader="Expenses">
        <p-table [value]="expenses" dataKey="id" [scrollable]="true" scrollHeight="290px" [tableStyle]="{'width': '100%'}" styleClass="p-datatable-striped p-datatable-sm">

            <ng-template pTemplate="header">
                <tr>
                    <th style="width:10%">Sr.no</th>
                    <th style="width:20%">Amount</th>
                    <th style="width:30%">Description</th>
                    <th style="width:20%">Category</th>
                    <th style="width:20%">Actions</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body">
                <tr>
                    <td>1</td>
                    <td>24000</td>
                    <td>for food</td>
                    <td>Food</td>
                    <td>
                        <!-- <app-editexpense [Eid]="1"></app-editexpense> -->
                        <span class="p-buttonset">
                            <p-button pRipple (click)="showDialog1(1)" label="Edit" icon="pi pi-pencil" size="small"></p-button>
                            <p-button pRipple (click)="showDialog2(1)" label="Delete" icon="pi pi-trash" size="small" severity="danger"></p-button>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>24000</td>
                    <td>for food</td>
                    <td>Food</td>
                    <td>
                        <!-- <app-editexpense [Eid]="2"></app-editexpense> -->
                        <span class="p-buttonset">
                            <p-button pRipple (click)="showDialog1(2)" label="Edit" icon="pi pi-pencil" size="small"></p-button>
                            <p-button pRipple (click)="showDialog2(2)" label="Delete" icon="pi pi-trash" size="small" severity="danger"></p-button>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>24000</td>
                    <td>for food</td>
                    <td>Transport</td>
                    <td>
                        <!-- <app-editexpense [Eid]="3"></app-editexpense> -->
                        <span class="p-buttonset">
                            <p-button pRipple (click)="showDialog1(3)" label="Edit" icon="pi pi-pencil" size="small"></p-button>
                            <p-button pRipple (click)="showDialog2(3)" label="Delete" icon="pi pi-trash" size="small" severity="danger"></p-button>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>44000</td>
                    <td>for food</td>
                    <td>Food</td>
                    <td>
                        <!-- <app-editexpense [Eid]="4"></app-editexpense> -->
                        <span class="p-buttonset">
                            <p-button pRipple (click)="showDialog1(4)" label="Edit" icon="pi pi-pencil" size="small"></p-button>
                            <p-button pRipple (click)="showDialog2(4)" label="Delete" icon="pi pi-trash" size="small" severity="danger"></p-button>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>24000</td>
                    <td>for food</td>
                    <td>Travel</td>
                    <td>
                        <!-- <app-editexpense [Eid]="5"></app-editexpense> -->
                        <span class="p-buttonset">
                            <p-button pRipple (click)="showDialog1(5)" label="Edit" icon="pi pi-pencil" size="small"></p-button>
                            <p-button pRipple (click)="showDialog2(5)" label="Delete" icon="pi pi-trash" size="small" severity="danger"></p-button>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>6</td>
                    <td>24000</td>
                    <td>for food</td>
                    <td>Food</td>
                    <td>
                        <!-- <app-editexpense [Eid]="6"></app-editexpense> -->
                        <span class="p-buttonset">
                            <p-button pRipple (click)="showDialog1(6)" label="Edit" icon="pi pi-pencil" size="small"></p-button>
                            <p-button pRipple (click)="showDialog2(6)" label="Delete" icon="pi pi-trash" size="small" severity="danger"></p-button>
                        </span>
                    </td>
                </tr>

            </ng-template>
        </p-table>

    </p-card>
</div>

</form>


<!-- modals -->

<p-dialog [(visible)]="visible1" [modal]="true" header="Edit Expense">
    <ng-template pTemplate="headless">
        <div class="flex flex-column px-8 py-5 gap-4 bg-purple-500" style="border-radius: 12px;">
            <h1>Edit Expense {{Eid}}</h1>
            <div class="flex align-items-center gap-2">
                <p-button label="Sign-In" (click)="closeDialog1()" [text]="true" styleClass="w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10" class="w-full" ></p-button>
                <p-button label="Cancel" (click)="closeDialog1()" [text]="true"  styleClass="w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10" class="w-full"></p-button>
            </div>
        </div>
    </ng-template>
</p-dialog>


<p-dialog [modal]="true" [(visible)]="visible2" header="Confirm Deletion">
    <ng-template pTemplate="headless">
        <div class="flex flex-column px-8 py-5 gap-4" style="border-radius: 12px; background-image: radial-gradient(circle at left top, var(--primary-400), var(--primary-700))">
            <h1>Delete Expense {{Eid}}</h1>
            <div class="flex align-items-center gap-2">
                <p-button label="Sign-In" (click)="closeDialog2()" [text]="true" styleClass="w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10" class="w-full" ></p-button>
                <p-button label="Cancel" (click)="closeDialog2()" [text]="true"  styleClass="w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10" class="w-full"></p-button>
            </div>
        </div>
    </ng-template>
</p-dialog>